# Nginx UI

Nginx UI is a comprehensive web-based interface designed to simplify the management and configuration of Nginx servers. It offers real-time server statistics, AI-powered ChatGPT assistance, one-click deployment, automatic renewal of Let's Encrypt certificates, and user-friendly editing tools for website configurations. Additionally, Nginx UI provides features such as online access to Nginx logs, automatic testing and reloading of configuration files, a web terminal, dark mode, and responsive web design. Built with Go and Vue, Nginx UI ensures a seamless and efficient experience for managing your Nginx server.

nginxui.com

<img src="https://raw.githubusercontent.com/0xJacky/nginx-ui/refs/heads/dev/app/src/assets/img/logo.png" alt="nginx ui logo" width="%60" height="auto">

## How to use this Makejail

```sh
appjail makejail \
    -f gh+AppJail-makejails/nginx-ui \
    -j nginx-ui \
    -o virtualnet=":<random> default" \
    -o nat \
    -o expose=80
appjail start nginx-ui
```

### Arguments (stage: build)

* `nginx_ui_ajspec` (default: `gh+AppJail-makejails/nginx-ui`): Entry point where the `appjail-ajspec(5)` file is located.
* `nginx_ui_tag` (default: `%%TAG1%%`): see [#tags](#tags).
* `nginx_ui_app_conf` (default: `files/app.ini`): NGINX UI configuration file.
* `nginx_ui_nginx_conf` (default: `files/nginx.conf`): Main configuration file for NGINX.
* `nginx_ui_conf` (default: `files/nginx-ui.conf`): Configuration file for NGINX that is loaded by the main configuration file.

### Check current status

The custom stage `nginx_ui_status` can be used to run `top(1)` to check the status of Nginx UI.

```sh
appjail run -s nginx_ui_status nginx-ui
```

### Log

To view the log generated by the web application, run the custom stage `nginx_ui_log`.

```sh
appjail run -s nginx_ui_log nginx-ui
```

### Volumes

| Name          | Owner | Group | Perm | Type | Mountpoint     |
| ------------- | ----- | ----- | ---- | ---- | -------------- |
| nginx-ui-data |   0   |   0   |  -   |  -   | /nginx-ui/data |

## Tags

| Tag           | Arch    | Version            | Type   | `nginx_ui_version` |
| ------------- | --------| ------------------ | ------ | ------------------ |
| `%%TAG1%%`    | `amd64` | `%%TAG1%%-RELEASE` | `thin` |    `%%VERSION%%`   |
| `%%TAG2%%`    | `amd64` | `%%TAG2%%-RELEASE` | `thin` |    `%%VERSION%%`   |
